<!-- <ion-header>
  <ion-toolbar class="bgcolor color">
    <ion-title>แก้ไขข้อมูลส่วนตัว</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
    <ion-toolbar class="bgcolor color">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
        </ion-buttons>
        <ion-title>แก้ไขข้อมูลส่วนตัว</ion-title>      
      </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-app>

    <ion-content fullscreen>

      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>


      <ion-list lines="full" class="ion-no-margin ion-no-padding" >

        <!-- <ion-label position="stacked">ชื่อ<ion-text color="danger"></ion-text></ion-label> -->

        <ion-item>
            <ion-icon name="md-key"></ion-icon>
            &nbsp;
            <ion-input type="password" [(ngModel)]="student_password" placeholder="รหัสผ่าน"></ion-input>
          </ion-item>
        <ion-item>
          <ion-icon name="phone-portrait"></ion-icon>
          &nbsp;
          <ion-input [(ngModel)]="student_telephone" placeholder="เบอร์โทรศัพท์"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="mail"></ion-icon>
          &nbsp;
          <ion-input [(ngModel)]="student_email" placeholder="อีเมล์"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="home"></ion-icon>
          &nbsp;
          <ion-input [(ngModel)]="student_address" placeholder="ที่อยู่"></ion-input>
        </ion-item>
        <br>
        <br>

        <ion-button expand="block" color="success" (click)="update()">ยืนยัน</ion-button>
        
        <!-- <br>
      
                  <ion-item>
                    <ion-label position="stacked">ที่อยู่</ion-label> <br>
                    <ion-input placeholder="Address Line 1"></ion-input>
                    <ion-input placeholder="Phone"></ion-input>
                    <ion-input placeholder="City"></ion-input>
                    <ion-input placeholder="State"></ion-input>
                  </ion-item> -->

      </ion-list>
      <!-- </div> -->

      <!-- <div class="ion-padding">
                  <ion-button expand="block" type="submit" class="ion-no-margin">.................</ion-button>
                </div> -->
    </ion-content>

  </ion-app>

</ion-content>