<ion-header>

  <ion-toolbar class="bgcolor color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/activities"></ion-back-button>
    </ion-buttons>
    <ion-title>ผลกิจกรรม</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card> -->

  <ion-card>
    <ion-item>
      <ion-icon name="medical" slot="start" color="danger"></ion-icon>
      <ion-label>{{texttopic}}</ion-label>
    </ion-item>

    <ion-card-content>
        {{ texttotal }}
    </ion-card-content>
    <ion-card-content>
        <ion-label>
        {{ textBC }}
        {{ textBS }}
        {{ textAD }}
        {{ textCD }}
        {{ textPD }}
        {{ textHD }}
        {{ textMD }}
        </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item class="activated">
      <ion-icon name="star" slot="start"></ion-icon>
      <ion-label>กิจกรรมบังคับ: {{COUNTBS}} กิจกรรม {{ BS }} หน่วย</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="star" slot="start"></ion-icon>
      <ion-label>บังคับเลือก: {{COUNTBC}} กิจกรรม {{ BC }} หน่วย</ion-label>
    </ion-item>

    <ion-item class="activated">
      <ion-icon name="star" slot="start"></ion-icon>
      <ion-label>ด้าน - AD: {{COUNTAD}} กิจกรรม {{ AD }} หน่วย</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="star" slot="start"></ion-icon>
      <ion-label>ด้าน - CD: {{COUNTCD}} กิจกรรม {{ CD }} หน่วย</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="star" slot="start"></ion-icon>
      <ion-label>ด้าน - PD: {{COUNTPD}} กิจกรรม {{ PD }} หน่วย</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="star" slot="start"></ion-icon>
      <ion-label>ด้าน - MD: {{COUNTMD}} กิจกรรม {{ MD }} หน่วย</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="star" slot="start"></ion-icon>
      <ion-label>ด้าน - HD: {{COUNTHD}} กิจกรรม {{ HD }} หน่วย</ion-label>
    </ion-item>



  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="stats" slot="start"></ion-icon>
      <ion-label>รวมทุกด้าน: {{COUNTTotal}} กิจกรรม {{ Total }} หน่วย</ion-label>
    </ion-item>
  </ion-card>



</ion-content>