<ion-header>
    <ion-toolbar class="bgcolor color"> 
      <ion-title>ยืนยันกิจกรรม</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
      <br>
      <div class="center2"><b>ครั้งที่ 2</b></div>

      <!-- <div *ngFor="let item of join">
          <ion-icon name="camera" class="center2" (click)="presentActionSheet(item.join_id)"></ion-icon>
        </div> -->

        <div id="wrapper">
          
            <a class="my-super-cool-btn" (click)="presentActionSheet()">
              <div class="dots-container">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
              </div>
              <span><ion-icon name="camera"></ion-icon></span>
            </a>
          </div>
         
  </ion-content>
  