.colorred{
    --ion-colors-primary:red;
    color: var(--ion-colors-primary);

}

.bgcolor{
    // background-color: #00C292;
    --ion-background-color:#00C292;
}
.color{
    --ion-colors-primary:#ffffff;
    color: var(--ion-colors-primary);

}